    #todoapp ul {
      list-style-type: none; /* Hides bullet points from todo list */
    }
    #todo-list input.edit {
      display: none; /* Hides input box*/
    }

    #todo-list button.edit-btn {
        display: inline; /* Shows input text box when .editing*/
    }


    #todo-list button.save-btn {
        display: none; /* Shows input text box when .editing*/
    }

    #todo-list button.cancel-btn {
        display: none; /* Shows input text box when .editing*/
    }


 /* editing  */

    #todo-list .editing label {
        display: none; /* Hides label text when .editing*/
    }
    #todo-list .editing input.edit {
        display: inline; /* Shows input text box when .editing*/
    }

    #todo-list .editing button.save-btn {
        display: inline; /* Shows input text box when .editing*/
    }

    #todo-list .editing button.edit-btn {
        display: none; /* Shows input text box when .editing*/
    }

    #todo-list .editing button.cancel-btn {
        display: inline; /* Shows input text box when .editing*/
    }

    #todo-list .editing button.remove-btn {
        display: none; /* Shows input text box when .editing*/
    }

